* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
}

.whats {
  position: fixed;
  bottom: 80px;
  right: 10px;
  width: 60px;
  z-index: 1000;
  cursor: pointer;
}

.header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 50;
  background: transparent;

  &.colorized {
    background: rgb(12, 12, 68);
    transition: all 1000ms;
  }

  .logoRota {
    width: 350px;
    padding: 10px;
  }

  .nav {
    display: flex;
    font-size: 18px;
    font-weight: 500;

    ul {
      display: flex;
      margin-right: 20px;

      li {
        list-style: none;
        margin: 5px 10px;
      }
    }

    a {
      text-decoration: none;
      color: white;

      &:after {
        display:block;
        content: '';
        border-bottom: solid 2px white;
        transform: scaleX(0);  
        transition: transform 300ms ease;
      }

      &:hover:after {
        transform: scaleX(0.9);
      }
    }
  }
}

.sliderContainer {
  position: relative;
  width: 100%;
  height: 80vh;

  .slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);

    img {
      width: 100%;
      height: 100%;
    }

    .wrapper {
      display: flex;
      align-items: flex-end;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);

      .info {
        display: flex;
        flex-direction: column;
        width: 500px;
        margin: 50px;
        font-family: 'Poppins', sans-serif;
        color: white;

        h2 {
          font-size: 50px;
          letter-spacing: 1.5px;
        }

        p {
          padding: 5px;
          font-size: 20px;
        }
      }
    }

    &.active {
      clip-path: circle(150% at 0 50%);
      transition: clip-path 600ms;
    }
  }

  .navigation {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    .button {
      background: rgba(255, 255, 255, 0.5);
      width: 12px;
      height: 12px;
      margin: 10px;
      border-radius: 50px;
      border: 1px solid white;
      cursor: pointer;

      &.active {
        background: rgb(19, 19, 19);
        box-shadow: 0 0 10px black;
        transform: scale(1.2, 1.2);
      }
    }
  }
}

.typesOfPlans {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 50px;

  .title {
    text-align: center;
    margin: 30px;
    font-size: 30px;

    &:after {
      content: '';
      display: block;
      margin: 5px auto;
      width: 300px;
      height: 4px;
      background: rgb(17, 17, 156);
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    .type {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      width: 30%;
      height: 650px;
      padding: 15px;
      margin: 0 10px;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }

    img {
      width: 100%;
    }

    h2 {
      margin: 10px 0;
    }
    
    span {
      font-size: 12px;
      margin-top: 30px;
    }

    button {
      border: none;
      width: 100px;
      height: 30px;
      border-radius: 5px;
      background: rgb(12, 12, 68);
      margin: 20px;
      position: absolute;
      bottom: 10px;

      &:hover {
        opacity: 0.9;
        transition: opacity 500ms;
      }
    }

    a {
      text-decoration: none;
      color: white;
    }
  }
}

.car_plans{

  .title {
    text-align: center;
    margin: 30px;
    font-size: 30px;

    &:after {
      content: '';
      display: block;
      margin: 5px auto;
      width: 300px;
      height: 4px;
      background: rgb(17, 17, 156);
    }
  }

  .carousel {
    display: flex;
    width: 100%;
  
    ul {
      display: flex;
      overflow: hidden;
  
      li {
        list-style: none;
        margin: 10px;
      }
    }
  }
}


.cto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 400px;
  margin: 50px 0;
  background: url('../img/call-to-action.jpg');
  color: white;

  h2 {
    font-size: 50px;
    margin: 10px;
  }

  h4 {
    font-size: 25px;
    margin: 10px;
  }

  .buttons {
    display: flex;
    margin: 10px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      margin: 5px;
      width: 200px;
      height: 50px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 17px;
      padding: 5px;
      background-color: orangered;
      color: white;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}

.history {
  width: 100%;
  padding: 30px 0;
  font-family: 'Poppins', sans-serif;

  .title {
    text-align: center;
    margin: 0 0 30px 0;
    font-size: 30px;

    &:after {
      content: '';
      display: block;
      margin: 5px auto;
      width: 300px;
      height: 4px;
      background: rgb(17, 17, 156);
    }
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 30px 50px;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.7);
      color: white;
    }

    h2 {
      margin-bottom: 10px;
      font-size: 35px;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;
  background: rgb(12, 12, 68);
  color: white;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 30px;
    width: 100%;

    .informations {
      display: flex;
      flex-direction: column;
      width: 30%;
  
      .adress {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        span:first-child {
          font-family: 'Poppins', sans-serif;
          font-size: 20px;
        }

        span {
          font-size: 13px;
        }
      }
  
      .openingHours {
        display: flex;
        flex-direction: column;

        span:first-child {
          font-family: 'Poppins', sans-serif;
          font-size: 20px;
        }

        span {
          font-size: 13px;
        }
      }
    }
  
    .branches {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 30%;

      span:first-child {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
      }

      span {
        font-size: 15px;
        margin: 3px 0;
      }

      a {
        text-decoration: none;
        color: white;

        &:hover {
          border-bottom: 1px solid white;
        }
      }
    }
  
    .social {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 30%;
      font-size: 20px;

      .icons {
        margin-top: 15px;
      }

      img {
        width: 30px;
        margin: 5px;
        filter: invert(1);
      }
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  background: rgb(6, 6, 43);
  color: white;
}