@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
}

/********************
  LOGO WHATSAPP
********************/
.whats {
  position: fixed;
  bottom: 50px;
  left: 15px;
  width: 70px;
  z-index: 1000;
  cursor: pointer;
  width: 60px;
}

/********************
  HEADER
********************/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 50;
  background: transparent;
}

.header.colorized {
  background: #0c0c44;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}

.header .logoRota {
  width: 350px;
  padding: 10px;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 500;
}

.header .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

.header .nav ul li {
  list-style: none;
  margin: 5px 10px;
}

.header .nav a {
  text-decoration: none;
  color: white;
}

.header .nav a:after {
  display: block;
  content: '';
  border-bottom: solid 2px white;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.header .nav a:hover:after {
  -webkit-transform: scaleX(0.9);
          transform: scaleX(0.9);
}

.header .burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
  display: none;
  cursor: pointer;
  z-index: 1000;
}

.header .burger .div1, .header .burger .div2, .header .burger .div3 {
  width: 25px;
  height: 2px;
  background: white;
  margin: 5px;
}

.header .burger.actived {
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
}

.header .burger.actived .div1 {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.header .burger.actived .div2 {
  display: none;
}

.header .burger.actived .div3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/********************
  MENU MOBILE
********************/
.menuMobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -500%;
  width: 100%;
  height: 200px;
  background: #0c0c44;
  -webkit-transition: top 500ms;
  transition: top 500ms;
}

.menuMobile.actived {
  top: 0;
  -webkit-transition: top 500ms;
  transition: top 500ms;
}

.menuMobile ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  font-size: 20px;
}

.menuMobile ul li {
  margin: 10px;
}

.menuMobile a {
  text-decoration: none;
  color: white;
}

/********************
  SLIDER PRINCIPAL
********************/
.sliderContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.sliderContainer .slide {
  display: none;
  position: relative;
  width: 100%;
  max-height: 100%;
}

.sliderContainer .slide .imgDesktop {
  width: 100%;
  max-height: 100%;
}

.sliderContainer .slide .imgMobile {
  width: 100%;
  max-height: 100%;
  display: none;
}

.sliderContainer .slide .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.sliderContainer .slide .wrapper .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  margin: 50px;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.sliderContainer .slide .wrapper .info h2 {
  font-size: 50px;
  letter-spacing: 1.5px;
}

.sliderContainer .slide .wrapper .info p {
  padding: 5px;
  font-size: 20px;
}

.sliderContainer .slide.active {
  display: block;
}

.sliderContainer .navigation {
  z-index: 2;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sliderContainer .navigation .button {
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50px;
  border: 1px solid white;
  cursor: pointer;
}

.sliderContainer .navigation .button.active {
  background: #131313;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

/********************
  BANNER TABELA DE PREÇOS
********************/
.bannerPrincipal {
  width: 100%;
  position: relative;
}

.bannerPrincipal .imgDesktop {
  display: block;
  width: 100%;
  max-height: 100%;
}

.bannerPrincipal .imgMobile {
  display: none;
  width: 100%;
  max-height: 100%;
}

.bannerPrincipal .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.bannerPrincipal .wrapper .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 70%;
  margin: 50px auto;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.bannerPrincipal .wrapper .info h2 {
  font-size: 50px;
  letter-spacing: 1.5px;
}

.bannerPrincipal .wrapper .info p {
  padding: 5px;
  font-size: 30px;
}

/********************
  SECTION APRESENTATION
********************/
.apresentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 50px 0;
}

.apresentation .title {
  text-align: center;
  margin: 20px;
  font-size: 30px;
}

.apresentation .title:after {
  content: '';
  display: block;
  margin: 5px auto;
  width: 100px;
  height: 4px;
  background: #11119c;
}

.apresentation .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 50px 20px;
  border-radius: 5px;
  background: #0c0c44;
  color: white;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.apresentation .container h4 {
  font-size: 20px;
  text-align: center;
}

.apresentation .container p {
  padding: 15px;
}

/********************
  SECTION TYPE OF PLANS
********************/
.typesOfPlans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 30px 50px;
}

.typesOfPlans .title {
  text-align: center;
  margin: 20px;
  font-size: 30px;
}

.typesOfPlans .title:after {
  content: '';
  display: block;
  margin: 5px auto;
  width: 100px;
  height: 4px;
  background: #11119c;
}

.typesOfPlans .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.typesOfPlans .container .type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 350px;
  height: 650px;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.typesOfPlans .container img {
  width: 100%;
}

.typesOfPlans .container h2 {
  margin: 10px 0;
}

.typesOfPlans .container span {
  font-size: 12px;
  margin-top: 30px;
}

.typesOfPlans .container button {
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background: #0c0c44;
  margin: 20px;
  position: absolute;
  bottom: 10px;
}

.typesOfPlans .container button:hover {
  opacity: 0.9;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.typesOfPlans .container a {
  text-decoration: none;
  color: white;
}

/********************
  CAROUSEL OPERATORS
********************/
.swiper {
  margin: 20px 0 50px 0;
}

.swiper .title {
  text-align: center;
  margin: 20px;
  font-size: 30px;
}

.swiper .title:after {
  content: '';
  display: block;
  margin: 5px auto;
  width: 100px;
  height: 4px;
  background: #11119c;
}

/********************
  SECTION OPERADORAS
********************/
.operators {
  background: #e6e6e6;
  padding: 20px 0;
}

/***********************************
  CAROUSEL OPERATORS TABELA PREÇOS
***********************************/
.swiperPlans .title, .plans .title {
  text-align: center;
  margin: 20px;
  font-size: 22px;
}

.swiperPlans .title:after, .plans .title:after {
  content: '';
  display: block;
  margin: 5px auto;
  width: 100px;
  height: 4px;
  background: #11119c;
}

.swiperPlans .swiper-slide img, .plans .swiper-slide img {
  width: 100px;
}

.swiperPlans .swiper-slide img:hover, .plans .swiper-slide img:hover {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.swiperPlans hr, .plans hr {
  margin: 30px auto;
  width: 90%;
  height: 2px;
  background: silver;
}

.plans .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.plans img {
  width: 100px;
  margin: 10px;
}

.plans img:hover {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

/********************
 SECTION ORIENTATIONS
********************/
.orientations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 0 50px 0;
  padding: 30px 0;
  background: #0c0c44;
  color: white;
}

.orientations .titlePrincipal {
  text-align: center;
  margin: 20px;
  font-size: 30px;
}

.orientations .titlePrincipal:after {
  content: '';
  display: block;
  margin: 5px auto;
  width: 100px;
  height: 4px;
  background: #11119c;
}

.orientations .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
}

.orientations .container .openClose:not(:last-child) {
  margin: 5px;
}

.orientations .container .openClose:last-child {
  margin: 0 5px;
}

.orientations .container .openClose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 480px;
  padding: 5px;
  border-radius: 5px;
  background: #bebebe;
  background: -webkit-gradient(linear, left bottom, left top, from(#bebebe), to(#aaaaaa));
  background: linear-gradient(360deg, #bebebe 0%, #aaaaaa 100%);
  color: black;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.orientations .container .openClose:hover {
  opacity: 0.9;
}

.orientations .container .openClose .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.orientations .container .openClose .title span {
  margin-right: 10px;
}

.orientations .container .openClose .title span .div1, .orientations .container .openClose .title span .div2 {
  width: 12px;
  height: 2px;
  background: black;
}

.orientations .container .openClose .title span .div2 {
  -webkit-transform: rotate(90deg) translate(-2px);
          transform: rotate(90deg) translate(-2px);
}

.orientations .container .openClose .title span .div2.open {
  display: none;
}

.orientations .container .openClose .planInfo {
  width: 100%;
  display: none;
  padding: 10px;
  background: white;
  color: black;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.orientations .container .openClose .planInfo.open {
  display: block;
}

/********************
  CALL TO ACTION
********************/
.cto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 400px;
  margin: 0 0 50px 0;
  background: url("../img/call-to-action.webp");
  color: white;
}

.cto h2 {
  font-size: 50px;
  margin: 10px;
}

.cto h4 {
  font-size: 25px;
  margin: 10px;
}

.cto .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px;
}

.cto .buttons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin: 5px;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  padding: 5px;
  background: #d03f00;
  background: -webkit-gradient(linear, left bottom, left top, from(#d03f00), to(#cf6131));
  background: linear-gradient(360deg, #d03f00 0%, #cf6131 100%);
  color: white;
}

.cto .buttons a:hover {
  opacity: 0.9;
}

/********************
  TABS NAVIGATION
********************/
.comparative {
  width: 100%;
  height: 650px;
}

.comparative .title {
  text-align: center;
  margin: 30px;
  font-size: 30px;
}

.comparative .title:after {
  content: '';
  display: block;
  margin: 5px auto;
  width: 100px;
  height: 4px;
  background: #11119c;
}

.comparative .nav_tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 0 auto 100px auto;
  background-color: #fff;
  position: relative;
}

.comparative .nav_tabs .ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.comparative .nav_tabs .tab_label {
  display: block;
  width: 150px;
  background-color: #044b85;
  padding: 10px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border-radius: 5px 5px 0 0;
}

.comparative .nav_tabs .rd_tab:checked ~ label {
  background: #0c0c44;
  color: white;
}

.comparative .nav_tabs label:hover {
  background: #0c0c44;
}

.comparative .nav_tabs .tab-content {
  opacity: 0;
  position: absolute;
  border: 1px solid rgba(128, 128, 128, 0.5);
  width: 100%;
  padding: 15px;
  left: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.comparative .nav_tabs .tab-content h2 {
  margin: 20px 0 0 0;
  text-align: center;
  color: black;
}

.comparative .nav_tabs .tab-content article {
  padding: 15px;
}

.comparative .nav_tabs .tab-content p {
  margin: 15px;
}

.comparative .nav_tabs .tab-content ul {
  margin-left: 30px;
}

.comparative .nav_tabs .rd_tab {
  display: none;
  position: absolute;
}

.comparative .rd_tab:checked ~ .tab-content {
  opacity: 1;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

/********************
  SECTION ABOUT
********************/
.history {
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.history .title {
  text-align: center;
  margin: 50px 0 15px 0;
  font-size: 30px;
}

.history .title:after {
  content: '';
  display: block;
  margin: 5px auto;
  width: 100px;
  height: 4px;
  background: #11119c;
}

.history .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: url("../img/quem_somos.webp");
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.history .container .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 30px;
  background: rgba(0, 0, 0, 0.85);
  color: white;
}

.history .container h2 {
  margin-bottom: 10px;
  font-size: 35px;
}

.history .container p {
  font-size: 20px;
  margin: 10px;
}

/********************
  FOOTER
********************/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: #0c0c44;
  color: white;
}

.footer .iconFooter {
  width: 15px;
  -webkit-filter: invert(1);
          filter: invert(1);
  margin-right: 3px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 15px 30px;
  width: 100%;
}

.footer .container .informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
}

.footer .container .informations .adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.footer .container .informations .adress span:first-child {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.footer .container .informations .adress span {
  font-size: 13px;
}

.footer .container .informations .openingHours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .container .informations .openingHours span:first-child {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.footer .container .informations .openingHours span {
  font-size: 13px;
}

.footer .container .branches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
}

.footer .container .branches span:first-child {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.footer .container .branches span {
  font-size: 15px;
  margin: 3px 0;
}

.footer .container .branches a {
  text-decoration: none;
  color: white;
}

.footer .container .branches a:hover {
  border-bottom: 1px solid white;
}

.footer .container .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  font-size: 20px;
}

.footer .container .social .icons {
  margin-top: 15px;
}

.footer .container .social img {
  width: 30px;
  margin: 5px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.footer .container .social img:hover {
  opacity: 0.5;
}

/********************
  MEDIA QUERY
********************/
@media (max-width: 1050px) {
  .header .logoRota {
    width: 250px;
  }
  .header .nav ul {
    display: none;
  }
  .header .nav .burger {
    display: block;
  }
  .sliderContainer .slide .wrapper .info h2 {
    font-size: 35px;
  }
  .sliderContainer .slide .wrapper .info p {
    font-size: 17px;
  }
  .typesOfPlans .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .orientations .container .left, .orientations .container .rigth {
    width: 100%;
  }
  .orientations .container .openClose {
    width: 100%;
  }
  .cto h2 {
    font-size: 35px;
  }
  .cto h4 {
    font-size: 20px;
  }
  .comparative {
    height: 750px;
  }
}

@media (max-width: 700px) {
  .menuMobile ul {
    font-size: 17px;
  }
  .sliderContainer .slide .wrapper .info h2 {
    font-size: 30px;
  }
  .sliderContainer .slide .wrapper .info p {
    font-size: 15px;
  }
  .bannerPrincipal .wrapper .info {
    width: 90%;
    margin: 20px auto;
  }
  .bannerPrincipal .wrapper .info h2 {
    font-size: 35px;
  }
  .bannerPrincipal .wrapper .info p {
    padding: 5px;
    font-size: 25px;
  }
  .cto .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .comparative {
    display: none;
  }
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .container .informations, .footer .container .branches, .footer .container .social {
    width: 100%;
    margin: 10px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .container .adress, .footer .container .openingHours {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 600px) {
  .menuMobile ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sliderContainer .slide .imgDesktop {
    display: none;
  }
  .sliderContainer .slide .imgMobile {
    display: block;
  }
  .bannerPrincipal .imgDesktop {
    display: none;
  }
  .bannerPrincipal .imgMobile {
    display: block;
  }
  .cto h2 {
    font-size: 25px;
  }
  .cto h4 {
    font-size: 17px;
  }
}
/*# sourceMappingURL=style.css.map */