* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
}

.whats {
  position: fixed;
  bottom: 50px;
  right: 10px;
  width: 60px;
  z-index: 1000;
  cursor: pointer;
}

.header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 50;
  background: transparent;

  &.colorized {
    background: rgb(12, 12, 68);
    transition: all 1000ms;
  }

  .logoRota {
    width: 350px;
    padding: 10px;
  }

  .nav {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;

    ul {
      display: flex;
      margin-right: 20px;

      li {
        list-style: none;
        margin: 5px 10px;
      }
    }

    a {
      text-decoration: none;
      color: white;

      &:after {
        display:block;
        content: '';
        border-bottom: solid 2px white;
        transform: scaleX(0);  
        transition: transform 300ms ease;
      }

      &:hover:after {
        transform: scaleX(0.9);
      }
    }
  }

  .burger {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    display: none;
    cursor: pointer;
    z-index: 1000;

    .div1, .div2, .div3 {
      width: 25px;
      height: 2px;
      background: white; 
      margin: 5px;
    }

    &.actived {
      transition: all 1000ms;

      .div1 {
        transform: rotate(45deg) translate(5px, 5px);
      }

      .div2 {
        display: none;
      }

      .div3 {
        transform: rotate(-45deg);
      }
    }
  }
}

.menuMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -500%;
  width: 100%;
  height: 200px;
  background: rgb(12, 12, 68);
  transition: top 500ms;

  &.actived {
    top: 0;
    transition: top 500ms;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 20px;

    li {
      margin: 10px;
    }
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.sliderContainer {
  position: relative;
  width: 100%;
  overflow: hidden;

  .slide {
    display: none;
    right: -100%;
    position: relative;
    width: 100%;
    max-height: 100%;

    .imgDesktop {
      width: 100%;
      max-height: 100%;
    }

    .imgMobile {
      width: 100%;
      max-height: 100%;
      display: none;
    }

    .wrapper {
      display: flex;
      align-items: flex-end;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; 
      background: rgba(0, 0, 0, 0.3);

      .info {
        display: flex;
        flex-direction: column;
        width: 500px;
        margin: 50px;
        font-family: 'Poppins', sans-serif;
        color: white;

        h2 {
          font-size: 50px;
          letter-spacing: 1.5px;
        }

        p {
          padding: 5px;
          font-size: 20px;
        }
      }
    }

    &.active {
      right: 0;
      transition: rigth 500ms;
      display: block;
    }
    
  }

  .navigation {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    .button {
      background: rgba(255, 255, 255, 0.5);
      width: 12px;
      height: 12px;
      margin: 10px;
      border-radius: 50px;
      border: 1px solid white;
      cursor: pointer;

      &.active {
        background: rgb(19, 19, 19);
        box-shadow: 0 0 10px black;
        transform: scale(1.2, 1.2);
      }
    }
  }
}

.typesOfPlans {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 50px;

  .title {
    text-align: center;
    margin: 20px;
    font-size: 30px;

    &:after {
      content: '';
      display: block;
      margin: 5px auto;
      width: 100px;
      height: 4px;
      background: rgb(17, 17, 156);
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .type {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      width: 350px;
      height: 650px;
      padding: 15px;
      margin: 10px;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }

    img {
      width: 100%;
    }

    h2 {
      margin: 10px 0;
    }
    
    span {
      font-size: 12px;
      margin-top: 30px;
    }

    button {
      border: none;
      width: 100px;
      height: 30px;
      border-radius: 5px;
      background: rgb(12, 12, 68);
      margin: 20px;
      position: absolute;
      bottom: 10px;

      &:hover {
        opacity: 0.9;
        transition: opacity 500ms;
      }
    }

    a {
      text-decoration: none;
      color: white;
    }
  }
}

.swiper{

  .title {
    text-align: center;
    margin: 30px;
    font-size: 30px;

    &:after {
      content: '';
      display: block;
      margin: 5px auto;
      width: 100px;
      height: 4px;
      background: rgb(17, 17, 156);
    }
  }
}


.cto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 400px;
  margin: 50px 0;
  background: url('../img/call-to-action.jpg');
  color: white;

  h2 {
    font-size: 50px;
    margin: 10px;
  }

  h4 {
    font-size: 25px;
    margin: 10px;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      margin: 5px;
      width: 200px;
      height: 50px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 17px;
      padding: 5px;
      background-color: rgb(207, 97, 49);
      color: white;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}


.comparative {
  width: 100%;
  min-height: 100vh;

  .title {
    text-align: center;
    margin: 30px;
    font-size: 30px;

    &:after {
      content: '';
      display: block;
      margin: 5px auto;
      width: 100px;
      height: 4px;
      background: rgb(17, 17, 156);
    }
  }

  .nav_tabs{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto 100px auto;
    background-color: #fff;
    position: relative;
  
    .ul {
      display: flex;
      list-style: none;
    }
  
    .tab_label{
      display: block;
      width: 150px;
      background-color: rgb(4, 75, 133);
      padding: 10px;
      font-size: 15px;
      color:#fff;
      cursor: pointer;
      text-align: center;
      border-radius: 5px 5px 0 0;
    }
  
    .rd_tab:checked ~ label { 
      background: rgb(12, 12, 68);
      color: white;
    }
  
    label:hover {
      background: rgb(12, 12, 68);
    }
  
    .tab-content{
      display: none;
      position: absolute;
      border: 1px solid rgba(128, 128, 128, 0.5);
      width: 100%;
      padding: 15px;
      left: 0;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      
      h2 {
        margin: 20px 0 0 0;
        text-align: center;
        color: black;
      }
  
      article {
        padding: 15px;
      }
  
      p {
        margin: 15px;
      }
  
      ul {
        margin-left: 30px;
      }
    }
  }
  
  .nav_tabs .rd_tab { 
    display:none;
    position: absolute;
  }
  
  .rd_tab:checked ~ .tab-content{
    display: block;
  }
}


.history {
  width: 100%;
  font-family: 'Poppins', sans-serif;

  .title {
    text-align: center;
    margin: 50px 0 15px 0;
    font-size: 30px;

    &:after {
      content: '';
      display: block;
      margin: 5px auto;
      width: 100px;
      height: 4px;
      background: rgb(17, 17, 156);
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: url('../img/quem_somos.jpg');
    background-attachment: fixed;

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 30px;
      background: rgba(0, 0, 0, 0.85);
      color: white;
    }

    h2 {
      margin-bottom: 10px;
      font-size: 35px;
    }

    p {
      font-size: 20px;
      margin: 10px;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgb(12, 12, 68);
  color: white;

  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15px 30px;
    width: 100%;

    .informations {
      display: flex;
      flex-direction: column;
      width: 30%;
  
      .adress {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        span:first-child {
          font-family: 'Poppins', sans-serif;
          font-size: 20px;
        }

        span {
          font-size: 13px;
        }
      }
  
      .openingHours {
        display: flex;
        flex-direction: column;

        span:first-child {
          font-family: 'Poppins', sans-serif;
          font-size: 20px;
        }

        span {
          font-size: 13px;
        }
      }
    }
  
    .branches {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 30%;

      span:first-child {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
      }

      span {
        font-size: 15px;
        margin: 3px 0;
      }

      a {
        text-decoration: none;
        color: white;

        &:hover {
          border-bottom: 1px solid white;
        }
      }
    }
  
    .social {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 30%;
      font-size: 20px;

      .icons {
        margin-top: 15px;
      }

      img {
        width: 30px;
        margin: 5px;
        filter: invert(1);

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  .header {

    .logoRota {
      width: 250px;
    }

    .nav {
      
      ul {
        display: none;
      }
  
      .burger {
        display: block;
      }
    }
  }

  .sliderContainer {

    .slide{

      .wrapper {
  
        .info {
    
          h2 {
            font-size: 35px;
          }

          p {
            font-size: 17px;
          }
        }
      }
    }
  }

  .typesOfPlans {

    .container {
      flex-direction: column;
    }
  }

  .cto {

    h2 {
      font-size: 35px;
    }

    h4 {
      font-size: 20px;
    }
  }
}

@media (max-width: 700px) {

  .menuMobile {

    ul {
      font-size: 17px;
    }
  }

  .sliderContainer {

    .slide{

      .wrapper {
  
        .info {
    
          h2 {
            font-size: 30px;
          }

          p {
            font-size: 15px;
          }
        }
      }
    }
  }

  .cto {

    .buttons {
      flex-direction: column;
    }
  }

  .footer {

    .container {
      flex-direction: column;

      .informations, .branches, .social {
        width: 100%;
        margin: 10px 0;
        align-items: center;
        justify-content: center;
      }

      .adress, .openingHours {
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 600px) {

  .menuMobile {

    ul {
      flex-direction: column;
    }
  }

  .sliderContainer {

    .slide {

      .imgDesktop {
        display: none;
      }

      .imgMobile {
        display: block;
      }
    }
  }

  .cto {

    h2 {
      font-size: 25px;
    }

    h4 {
      font-size: 17px;
    }
  }
}